{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing:border-box;
}
.container{
    width: 100%;
    background-image: url("ntrr.jpg");
    background-size: cover;
    height: 150%;
}
nav{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10 px 0;
}
.logo{
    width: 75px;
    cursor: pointer;
    padding-left: 50px;
    background-color: rgb(214, 8, 146);
}
nav ul{
    list-style: none;
    width:100%;
    text-align: right;
    padding-right: 60px;
}
nav ul li{
    display:inline-block;
    margin:10px 20px;
    padding-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul li{
    color:#bb076a;
    text-decoration: none;
    padding-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn img{
    width: 90px;
    margin-right: 10px;
    border-radius: 50px;
}
.search-box{
    flex: 1;
    position: relative;
    padding-right: 50px;
    height: 30px;
}
  
.search-box button{
    cursor:pointer;
    width:40px;
    height:40px;
}